.Bestseller{
    border-radius: 50%;
 }
 .CoffeeAtHome{
     border-radius: 50%;
 }
 .Drinks{
    border-radius: 50%;
 }
 .Food{
     border-radius: 50%;
 }
 .Merchandise{
     border-radius: 50%;
 }
 .ReadyToEat{
     border-radius: 50%;
 }